fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1
llama-index==0.11.17
llama-index-core==0.11.23
llama-index-llms-gemini==0.3.7
llama-index-embeddings-gemini==0.2.1
llama-index-vector-stores-chroma==0.2.0
google-generativeai==0.5.4
python-magic==0.4.27
chromadb==0.5.5